In [3]:
import numpy as np
import pandas as pd

train = pd.read_csv("C:/Users/hp/AntananarivoMadagascarChapter_FakeJobPostings/data/glassdoor_data-analyst_Harold.csv")

In [4]:
train.head()

,site,role,job_level,company_name,job_description,location,salary
0,Glassdoor,Data Analyst,Unknown,Parade,Parade is the leader in providing capacity man...,Remote,$90K - $120K
1,Glassdoor,Junior Data Analyst,Junior,Maxima Technologies,"```Duties:```\n- Collect, analyze, and interpr...","Dallas, NC",$80K - $100K
2,Glassdoor,Data Analyst,Unknown,"The Clearing, Inc.",Description:\nCOMPANY DESCRIPTION\nThe Clearin...,"Washington, DC",$62K - $96K
3,Glassdoor,Data Analyst,Unknown,Betsy & Adam,Job Title: Data Analyst - Wholesale Apparel\nR...,United States,$82K - $90K
4,Glassdoor,Data Analyst,Unknown,ASCAP,About ASCAP\nThe American Society of Composers...,United States,$90K - $110K

In [5]:
train["job_description"]

0       Parade is the leader in providing capacity man...
1       ```Duties:```\n- Collect, analyze, and interpr...
2       Description:\nCOMPANY DESCRIPTION\nThe Clearin...
3       Job Title: Data Analyst - Wholesale Apparel\nR...
4       About ASCAP\nThe American Society of Composers...
                              ...
5044    We go where others won’t, taking on some of th...
5045    Description\nThe Senior CDM Analyst will repor...
5046    Are you looking for a rewarding career working...
5047    Language Enabled Analyst\nPosition Summary\nDa...
5048    Kalman & Company is seeking a highly motivated...
Name: job_description, Length: 5049, dtype: object

In [8]:
import spacy
#loading the english language small model of spacy
en = spacy.load('en_core_web_sm')
sw_spacy = en.Defaults.stop_words
print(sw_spacy)

{'such', 'top', 'thus', 'again', 'are', 'here', 'also', 'upon', 'see', 'almost', 'amongst', 're', 'had', '’d', 'several', "'s", 'became', 'she', 'beside', 'sometime', 'whereby', 'i', 'since', 'perhaps', 'wherein', 'because', 'neither', 'twelve', 'quite', 'why', 'ten', 'before', 'move', 'everywhere', 'does', 'twenty', 'give', 'throughout', 'them', 'somehow', 'anything', 'herself', 'if', 'wherever', 'was', 'thereby', "'re", 'what', 'yours', 'get', 'always', 'under', 'every', 'seemed', 'their', "n't", 'other', 'below', 'how', 'really', 'to', 'noone', 'among', 'any', 'herein', 'whatever', 'an', 'or', 'by', 'is', 'myself', 'within', 'empty', 'seeming', 'being', 'latter', 'call', 'out', 'unless', 'thru', 'anyone', 'at', 'already', 'whether', 'we', 'ca', 'six', 'keep', 'n’t', 'become', 'thence', 'when', 'these', "'d", 'anywhere', 'most', '’s', 'done', 'same', 'only', 'well', 'itself', 'whither', 'hence', 'the', '’re', 'whereas', 'often', 'on', 'seem', 'doing', 'but', 'whole', 'everyone', 'further', 'becoming', 'another', 'hundred', 'all', '‘m', 'from', 'yourself', '’ll', 'behind', 'not', 'without', 'then', 'can', 'via', 'towards', 'even', 'themselves', 'your', 'although', 'us', 'less', 'sometimes', 'two', 'fifty', 'someone', "'m", 'using', 'mostly', 'enough', 'hereafter', 'were', 'yet', 'seems', 'else', 'its', 'sixty', 'whereupon', 'meanwhile', 'either', 'where', 'used', 'various', 'please', 'onto', 'therein', '’ve', 'four', 'very', 'amount', 'am', 'own', 'down', 'those', 'front', 'across', 'name', 'make', 'you', 'serious', 'whence', 'my', 'three', 'nowhere', 'some', 'who', 'that', 'becomes', 'afterwards', 'both', 'thereafter', 'until', 'above', 'into', 'together', 'back', 'n‘t', 'be', 'once', 'a', 'due', 'through', 'her', 'eleven', 'part', 'former', 'nothing', 'ourselves', 'over', 'him', 'too', 'anyway', 'forty', '’m', 'and', 'will', 'he', 'least', 'take', 'alone', 'could', 'bottom', 'been', 'between', 'against', 'last', '‘re', 'whose', 'next', 'around', 'so', 'there', 'whoever', 'five', 'along', 'during', '‘s', '‘ll', 'cannot', 'about', 'many', 'ours', 'hers', 'beyond', 'much', 'whom', 'up', 'toward', 'they', 'for', 'after', 'which', '‘d', 'in', 'however', 'formerly', 'show', 'thereupon', 'may', 'off', 'regarding', 'would', 'do', 'somewhere', 'few', 'namely', 'whereafter', "'ll", 'more', 'side', 'though', 'ever', 'with', 'did', 'no', 'none', 'as', 'something', 'indeed', 'whenever', 'go', 'besides', 'latterly', 'have', 'while', 'per', 'full', 'eight', 'moreover', 'everything', 'mine', 'this', 'put', 'nobody', 'his', 'elsewhere', 'others', 'never', 'now', 'yourselves', 'of', 'should', 'third', 'has', 'made', 'therefore', 'it', 'otherwise', 'first', 'than', 'rather', "'ve", 'our', 'hereupon', 'except', 'beforehand', 'might', 'each', 'nevertheless', 'anyhow', 'nor', '‘ve', 'just', 'still', 'nine', 'fifteen', 'say', 'me', 'hereby', 'must', 'himself', 'one'}

In [9]:
print(len(sw_spacy))

326

In [10]:
def remove_stopwords(text):
    doc = en(text)
    tokens = [token.text for token in doc if token.text.lower() not in sw_spacy]
    return ' '.join(tokens)

In [11]:
Df_without_stopwords=train.copy()

In [12]:
Df_without_stopwords['job_description'] = Df_without_stopwords['job_description'].apply(remove_stopwords)

In [13]:
# Display the original and modified datasets
print("Original Dataset:")
print(train["job_description"])

print("\nModified Dataset:")
print(Df_without_stopwords["job_description"])

Original Dataset:
0       Parade is the leader in providing capacity man...
1       ```Duties:```\n- Collect, analyze, and interpr...
2       Description:\nCOMPANY DESCRIPTION\nThe Clearin...
3       Job Title: Data Analyst - Wholesale Apparel\nR...
4       About ASCAP\nThe American Society of Composers...
                              ...
5044    We go where others won’t, taking on some of th...
5045    Description\nThe Senior CDM Analyst will repor...
5046    Are you looking for a rewarding career working...
5047    Language Enabled Analyst\nPosition Summary\nDa...
5048    Kalman & Company is seeking a highly motivated...
Name: job_description, Length: 5049, dtype: object

Modified Dataset:
0       Parade leader providing capacity management to...
1       ` ` ` Duties : ` ` ` \n - Collect , analyze , ...
2       Description : \n COMPANY DESCRIPTION \n Cleari...
3       Job Title : Data Analyst - Wholesale Apparel \...
4       ASCAP \n American Society Composers , Authors ...
                              ...
5044    wo , taking biggest public health challenges p...
5045    Description \n Senior CDM Analyst report CDM S...
5046    looking rewarding career working children ? op...
5047    Language Enabled Analyst \n Position Summary \...
5048    Kalman & Company seeking highly motivated , pe...
Name: job_description, Length: 5049, dtype: object